:root {
  --color-1: rgb(24, 28, 20);
  --color-2: rgb(60, 61, 55);
  --color-3: rgb(105, 117, 101);
  --color-4: rgb(236, 223, 204);
}

@font-face {
  font-family: "Monomakh";
  src: url(./fonts/Monomakh-Regular.ttf);
}

@font-face {
  font-family: "NewRocker";
  src: url(./fonts/NewRocker-Regular.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  color: var(--color-4);
}


html, body {
  min-height: 100%;
  background: var(--color-1);
  font-family: "Monomakh", sans-serif;
  font-size: 22px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h1, h2, h3 {
  font-family: "NewRocker";
}

*::selection {
  background: var(--color-4);
  color: var(--color-1);
}

a {
  transition: color 0.3s;
}

a:hover {
  color: rgb(144, 238, 144);
}