@import url("./style.css");



.main {
  margin-top: 50px;
}

.best {
  margin: 0px 100px;
  position: relative;
}

.slider_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.best_slider {
  display: flex;
  aspect-ratio: 1280/720;
  transition: 1s;
  /* overflow: auto hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  border-radius: 20px; */
}

.best_slide {
  width: 100%;
  flex: 1 0 100%;
  scroll-snap-align: start;
  position: relative;
}

.best_slider_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-4);
  text-align: center;
  padding-inline: 160px;
}

.best_navgation {
  position: absolute;
  top: 50%;
  background: transparent;
  font-size: 30px;
  transform: translate(10px, -50%);
  cursor: pointer;
}

.best_navgation > i {
  transition: 0.5s;
}

.best_navgation > i:last-child {
  display: block;
  transform: translate(0, -100%);
  color: transparent;
}

.best_navgation:hover > i:first-child {
  color: transparent;
}

.best_navgation:hover > i:last-child {
  color: var(--color-4);
}

.best_next {
  right: 0;
  transform: translate(-10px, -50%);
}

.posts {
  margin-top: 25px;
  text-align: center;
}

.posts_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 50px;
  padding-inline: 50px;
  margin-top: 30px;
  justify-items: center;
}

.post_article {
  width: 100%;
  /* border-radius: 20px; */
  /* background-color: rgba(236, 223, 204, 0.05); */
  /* backdrop-filter: blur(10px); */
  position: relative;
  overflow: hidden;
  border-radius: 20px; 
}

.post_article::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(236, 223, 204, 0.2);
  filter: blur(5px);
}

.post_article:hover > .post_article_img {
  transform: scale(1.3);
}

/* .post_article:hover::before {
  top: 20px;
  left: 20px;
} */

.post_article_img {
  position: relative;
  transition: 0.5s;
  width: 100%;
}


.article_content {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  position: absolute;
  top: 0;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article_content > * {
  margin-bottom: 25px;
}

.footer {
  text-align: center;
  margin: 50px;
}


