/* importing the general styles */

@import url("./style.css");

.main {
  margin-top: 50px;
}

.best {
  margin: 0px 100px;
  position: relative;
}

.slider_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.best_slider {
  display: flex;
  transition: 1s;
}

.best_slide {
  width: 100%;
  flex: 1 0 100%;
  position: relative;
}

.best_slider_img {
  width: 100%;
  height: 100%;
}

.slider_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* i made the "position: absolute" to make the content on the image */
  position: absolute;
  top: 0;
  left: 0;
  /* i used rgba to make an transparent black effect in the back*/
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-4);
  text-align: center;
  padding-inline: 160px;
}

.best_navgation {
  position: absolute;
  top: 50%;
  background: transparent;
  font-size: 30px;
  /* make the button be away from the edge of the image */
  transform: translate(10px, -50%);
  cursor: pointer;
}

.best_navgation > i {
  transition: 0.5s;
}

/* :last-child is use to select the last element of the selected type, in my case i used it to select the second icon  */

.best_navgation > i:last-child {
  display: block;
  transform: translate(0, -100%);
  /* i made this to be hidden because i will switch between the outline icon and the filled icon on hover */
  color: transparent;
}

.best_navgation:hover > i:first-child {
  color: transparent;
}

.best_navgation:hover > i:last-child {
  color: var(--color-4);
}

.best_next {
  /* make the next button be on the right */
  right: 0;
  transform: translate(-10px, -50%);
}

.posts {
  margin-top: 25px;
  text-align: center;
}

.posts_container {
  /* i used grid to to arrange the posts in a better way and be easier to handle it with responsive @media */
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 50px;
  padding-inline: 50px;
  margin-top: 30px;
  justify-items: center;
}

.post_article {
  width: 100%;
  position: relative;
  /* used the "overflow: hidden" to hide the image edges on when i gave it the scale effect on hover */
  overflow: hidden;
  border-radius: 20px;
}

.post_article:hover > .post_article_img {
  /* scale animation */
  transform: scale(1.3);
}

.post_article_img {
  position: relative;
  transition: 0.5s;
  width: 100%;
}

.article_content {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  position: absolute;
  top: 0;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article_content > * {
  margin-bottom: 25px;
}

.footer {
  text-align: center;
  margin: 50px;
}

/* that media works for mobile and tablets */

@media (max-width: 1024px) {
  .best {
    margin: 0;
  }
  .best_slider {
    aspect-ratio: 16/9;
  }
  .posts_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .slider_content {
    padding-inline: 0px;
  }
}
