/* define theme images */

.kidcalc_section {
  background-image: url(../images/fruits.png);
}

.kidcalc::before {
  background-image: url(../images/apple.png);
  transform: rotate(40deg);
}

.kidcalc::after {
  background-image: url(../images/bananas.png);
}

/* define theme colors */

:root {
  --border-color: darkorange;
}