/* define theme images */

.kidcalc_section {
  background-image: url(../images/space.png);
}

.kidcalc::before {
  background-image: url(../images/astronaut.png);
}

.kidcalc::after {
  background-image: url(../images/spacecraft.png);
}